section h2 {text-align: right; padding: 1em;}
.book .book-body .page-wrapper .page-inner {max-width: 80%}
section p {float:left;}
section p img {margin-right: 10px;}
blockquote p {float: none;}
section h4 {margin-top: 0!important}